[submodule "RTL/submodules/jt51"]
	path = RTL/submodules/jt51
	url = https://github.com/jotego/jt51.git
[submodule "RTL/submodules/hdmi"]
	path = RTL/submodules/hdmi
	url = https://github.com/hdl-util/hdmi.git
[submodule "RTL/mercury/jt12"]
	path = RTL/mercury/jt12
	url = https://github.com/jotego/jt12.git
[submodule "RTL/submodules/sdram-controller"]
	path = RTL/submodules/sdram-controller
url=https://github.com/kunichiko/sdram-controller.git
[submodule "RTL/submodules/spi-fpga"]
	path = RTL/submodules/spi-fpga
	url = https://github.com/jakubcabal/spi-fpga.git
